<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper" >
    <resultMap id="CommentResultMap" type="com.example.demo.entity.Comment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="username" property="username" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insertComment" >
        insert into comment (username, content, time) values (#{username}, #{content}, #{date});
    </insert>

    <select id="selectAll" resultMap="CommentResultMap">
        select * from comment order by time desc
    </select>

    <select id="countComments" resultType="java.lang.Integer">
        select count(*) from comment
    </select>

    <select id="selectAlls" resultMap="CommentResultMap">
        select * from comment
    </select>
</mapper>